
.container-about-page {
    width: 800px;
    margin: 0 auto;
}

#about-text{
    
    
    padding-right: 4%;
    padding-left: 4%;
    border-bottom: dashed;
    margin-bottom: 5%;
}

.container-about-page header >  #navigation{
    display: flex;       
    justify-content: space-evenly;
    align-items: flex-end;   
    
}

.container-about-page header > nav > a{
    text-decoration: none;
    color: black;    
}

 .block{
     display: flex;        
 }

 div.block > section.first-column{
     
    border-bottom: dashed;
    margin-bottom: 10%;
 }

 div.block > section.second-column{
    border-bottom: dashed ;
    margin-bottom: 10%;
    margin-left: 5%;
    padding-bottom: 5%;    
    
 }

 div.block > section > button{
     background-color: white;
     border-radius: 15%;
     height: 3rem;
     width: 7rem;

 }

 footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}